@font-face {
  font-family: glacial;
  src: url(fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: glacial-bold;
  src: url(fonts/GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: hind;
  src: url(fonts/Hind-Regular.ttf);
}

* {
  font-family: hind;
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

body {
  zoom: 100%;
  -webkit-print-color-adjust: exact; 
}

@media print {
body {-webkit-print-color-adjust: exact;}
}

li {
  position: relative;
  left: 4%;
  width: 96%;
}

h1 {
  font-family: glacial-bold;
  height: 2.5vw;
  position: relative;
}

.title {
  color: #243269;
  font-size: 5.5vw;
  font-family: glacial-bold;
  height: 6vw;
}

.subtitle {
  color: #243269;
  font-size: 3.5vw;
  font-family: glacial-bold;
  height: 4vw;
  display: table-cell;
}

.buffer {
  margin-top: 1vw;
}

.header-content {
  line-height: 3vw;
}

.heading {
  display: table;
  white-space: nowrap;
}

.separator {
  display: table-cell; 
  width: 100%;
  vertical-align: middle;
}

.line {
  position: relative;
  background-color: #243269;
  background: #243269;
  border: 0.2vw solid #243269;
  margin-left: 0.75vw;
  top: 0.5vw;
}

.row {
  display: table-row;
}

.row div {
  display: table-cell;
  width: 50%;
}

#header {
  height: 15vw;
}

#header-right {
  position: relative;
  top: -15vw;
  height: 15vw;
  text-align: right;
}

#projects-body {
  display: table;
}
